body {
	margin: 0;
	padding: 0.8em;
	color: #DEDEDE;
	background: #10171F;
	display: flex;
	justify-content: center
}

button {
	padding: 0.8em 2em;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	background-color: #182f44;
	color: inherit;
	border-color: #0b5394;
}

#app kbd {
	background: black;
	color: #def;
	padding: 0 .5em;
	border-radius: 0.5em;
	border: 1px solid #182f44;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: .8em;
}

#app {
	font-family: "Px437 IBM PS/2thin4";
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	zoom: 1;
	display: flex;
}

#app table {
	border-spacing: 0;
}
#app table td,
#app table th {
	padding: 2px 10px;
	border: 1px solid transparent;
	line-height: 1.5em;
}

#app table td:last-child,
#app table tfoot th {
	text-align: right;
	background: rgba(0,0,0, .5);
}
#app table tfoot th:last-child{
	border-top: 1px dashed #666;
}
#app table td:nth-child(2) {
	text-align: center;
}
#app table input {
	width: 50px;
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	color: #789;
	line-height: 1.5em;
}
#app table tfoot th:first-child {
	text-align: left;
}

.common 		{ color: #cfe2f3; background: #0b5394; }
.corrosive 		{ color: #f4cccc; background: #e06666; }
.baseMetal 		{ color: #d9d9d9; background: #666666; }
.nobleGas 		{ color: #c9daf8; background: #1155cc; }
.rareEarth	 	{ color: #00ff00; background: #6aa84f; }
.precious 		{ color: #fbd966; background: #bf9000; }
.radioactive 	{ color: #ffff00; background: #ff9900; }
.exotic 		{ color: #e6d1dc; background: #a700b3; }

section {
	margin-top: 1em;
	padding: 1.4em;
	border: 1px solid #0b5394;
}

section h3 {
	margin: 0;
	padding-top: 0;
}

article {
	padding: 1em;
}

hr {
	margin: 1em 0;
	border: none;
	border-bottom: 1px solid #0b5394;
}

ul li {
	margin-bottom: 1em;
	line-height: .9em;
}